* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------Header Section ---------------- */

header {
  background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header_section {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.nav {
  display: flex;
  align-items: center;
}
.nav > img {
  height: 40px;
  padding-right: 10px;
}
.nav > h1 {
  font-size: 35px;
  font-family: sans-serif;
}
.nav > h1 > .blue {
  color: #ff42a5;
}

.menu {
  display: flex;
  align-items: center;
}
.menu > ul {
  display: flex;
}
.menu > ul > li {
  padding: 0 10px;
  list-style: none;
  font-weight: 500;
}
.menu > ul > li > a {
  text-decoration: none;

  color: #000;
}

.follow_us {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
}


/* --------------- Banner Section --------------- */

.banner_section{
  background-image: url('./images/Group_14.png');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 50%;
}
.banner_container{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_text {
  text-align: left;
}
.banner_text > h2{
  font-size: 30px;
  text-transform: uppercase;
}
.banner_text > h3{
  font-size: 55px;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner_text > ul{
  padding: 25px 0;
}

.banner_text > Ul > li{
  list-style: none;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.banner_text > Ul > li > img{
  width: 20px;
  padding-right: 5px;
}

.banner_text > .sign_in{
  padding: 10px 25px;
  font-size: 1rem;
  background-color: #ff42a5;
  color: #fff;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}
.banner_text > .go_rogue{
  padding: 10px 25px;
  font-size: 1rem;
  background-color: #4EC5F7;
  color: #fff;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}

.banner_img img{
  width:500px;
  height: 100%;
  margin-bottom: -5px;
}


/* ---------we are gamer section -----------  */
.we_are_gamer{
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  max-width: 100%;
  padding: 40px 0;
}
.gamer_container{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gamer_image > img{
  width: 600px;
}
.gamer_text{
  text-align: right;
}
.gamer_text > h2{
  font-size: 2.5em;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer_text > .gamer_description{
  padding: 15px 0;
  font-size: 0.9em;
  line-height: 25px;

}
.gamer_text > .primary_button{
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 1rem;
  background-color: #ff42a5;
  color: #fff;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}
.gamer_text > .purpose{
  font-size: 1rem;
  padding: 20px 0;
}
.gamer_text > .purpose > .special{
  font-size: 1.5em;
  font-weight: bold;
}