* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------Header Section ---------------- */

header {
  max-width: 1100px;
  margin: 0 auto;
}
.header_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.nav {
  display: flex;
  align-items: center;
}
.nav > img {
  height: 40px;
  padding-right: 10px;
}
.nav > h1 {
  font-size: 35px;
  font-family: sans-serif;
}
.nav > h1 > .blue {
  color: #ff42a5;
}

.menu {
  display: flex;
  align-items: center;
}
.menu > ul {
  display: flex;
}
.menu > ul > li {
  padding: 0 10px;
  list-style: none;
  font-weight: 500;
}
.menu > ul > li > a {
  text-decoration: none;

  color: #000;
}

.follow_us {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
}


/* --------------- Banner Section --------------- */

.banner_section{
  background-image: url('./images/Group_14.png');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 50%;
  min-height: 100vh;
}
.banner_container{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_text {
  text-align: left;
}
.banner_text > h2{
  font-size: 30px;
  text-transform: uppercase;
}
.banner_text > h3{
  font-size: 55px;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner_text > ul{
  padding: 25px 0;
}

.banner_text > Ul > li{
  list-style: none;
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.banner_text > Ul > li > img{
  width: 20px;
  padding-right: 5px;
}

.banner_text > .sign_in{
  padding: 10px 25px;
  font-size: 1rem;
  background-color: #ff42a5;
  color: #fff;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}
.banner_text > .go_rogue{
  padding: 10px 25px;
  font-size: 1rem;
  background-color: #4EC5F7;
  color: #fff;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}

.banner_img img{
  width:500px;
}